.flex-1 {
  flex: 1;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-flow: column;
}

.absolute-center {
  align-items: center;
  justify-content: center;
}

.vertical-center {
  align-items: center;
}

.vertical-stretch {
  align-items: stretch;
}

.flow-center {
  justify-content: center;
}

.flow-justify {
  justify-content: space-between;
}

.flow-wrap{
  flex-wrap: wrap;
}
.font-bold{
  font-weight: bold;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.overWidth{
  width: 100%;
}

.comm-pad{
  padding: 20px;
}

.mar-bot{
  margin-bottom: 30px;
}
